*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
.nav{
    width: 100%;
    position: relative;
    height: 98vh;
    background-color:beige;
    clip-path: polygon(0 0,100% 0,100% 100%,70% 85%,0 100%);
}
nav{
    display: flex;
    width: 100;
    
    margin: auto;
    padding: 24px 0;
    align-items: center;
    justify-content: space-between;
    background-color: lightblue;
}
.logo{
   font-family: fantasy;
   margin-left:2cm;
}
nav ul li{
    display: inline-block;
    padding: 10px 20px;
    list-style: none;
    
}

nav ul a{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition:transform 0.5s ease;
}
nav ul a:hover{
    color:#fac208;
    transform: translatex(-5px);
}
.red{
    font-size: 20px;
}
.detail{
    margin-left: 8%;
    margin-top: 10%;
   
}
.detail h1{
    font-size: 45px;
    margin-bottom: 20px;
   
}
.detail p{
    color:darkgrey;
    line-height: 20px;
  animation-delay: 0.5s;
}
  
 .btn-btn2{
    top:20%;
    margin:30px 0;
    font-weight: bold;
    border-radius: 5px;
    background-color:black;
    text-decoration: none;
    padding: 10px 18px;
    color: azure;
    display: inline-block;
   animation-delay: 1s ;
}
.images {
    width:50%;
    height: 85%;
    position: absolute;
    bottom: 0;
    right: 100px;
    
}
.profile{   
    position: absolute;
   top:40%;
    height: 60%;
    left:50%;
transform:translate(-50%,-50%)scale(0.5); 
opacity: 0; 
    animation: fadeInUp 0.5s forwards; 

}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5) translateY(20px); 
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1) translateY(0); 
    }
}
.container{
    padding: 10px 10%;
}
#about{
  padding:80px 0;
  
}
.row{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 15px;  
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight:500 ;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content:"" ;
    width: 0;
    height: 3px;
    background: #fac208;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after
{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin:10px 0;
}
.tab-contents ul li span{
  color:#fac208;
  font-size: 14px; 
  
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
#project{
  
    clip-path: polygon(0 0,25% 15%,100% 0,100% 100%,0 100%);
    background-color:beige ;
}
.work-list{
    display: grid;
grid-template-columns: repeat(auto-fit,minmax( 250px,1fr));
grid-gap: 40px;
margin-top: 50px;
}
.work{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 400px;
    height: 400px;
}
.work img{
    width:100%;
    border-radius: 10px;
    display: block;
height: 70%;
transition: transform 0.6s;
}
.layer{
    width:100%;
    height:0;
    position: absolute;
     left: 0;
    bottom: 0;
    background: linear-gradient(#e4e4eae6,beige);
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
} 
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
margin-top: 20px;
color: black;
text-decoration: none;
font-size: 18px;
line-height: 60px;
width:60px;
border-radius: 60%;
text-align: center;
background:white;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.footer{
    text-align: center;
   border-top: 1 px solid #cccc;
   padding-top: 10px;
   width:100%;
   background:#262626;
   font-weight: 300;
   color: white;
   margin-top: 20px;
}


.contact-left p{
    margin-top: 30px;
    align-items: center;
    
}
.contact-left p i{
    color:rgb(245, 192, 113);
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    color: #ababab;
    margin-right: 15px;
    transition:transform 0.5s;
}
.social-icons a:hover{
    color: #fac208;
    transform: translate(-5px);
}
.anim{
    opacity: 0;
    transform :translate(-50px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}
